<canvas id="myCanvas" width="800" height="800" style="outline-style: solid;"></canvas>
<button id="previous" style="width: 50px; height: 50px"><</button>
<button id="next" style="width: 50px; height: 50px">></button>
<div style="width: 70px; height: 20px; background: blue; color: white">Collision</div>
<div style="width: 70px; height: 20px; background: green; color: white">Start</div>
<div style="width: 70px; height: 20px; background: red; color: white">End</div>